body {
  font-family: 'Montserrat', sans-serif;
  display:flex;
  flex-direction:column;
  align-items:center;
  overflow-y: scroll;

  --color-fg: rgba(100, 0, 169, 1);
  --color-fg-light: rgba(100, 0, 169, .2);
  
}

h1 {color: var(--color-fg); }

table { border-collapse: collapse; width:90vw; margin-top:10px;}

tr { border:1px solid grey; }

tr.file:hover { background-color: var(--color-fg-light); }

tr.file td { padding:5px; cursor:pointer;}

tr.file b {color:var(--color-fg); }

tr.section td {
  background-color:var(--color-fg); 
  color:white; 
  padding:10px 20px 10px 20px;
}

a { text-decoration:none; }

#newGist {
  padding-right: 24px;
}

a.github-fork-ribbon::before {
  background: var(--color-fg);

}

